body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    color: #000;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
